svg {
	width: 100px;
	height: 150px;
}

.red {
	fill: #ef0000;
	stroke: #ef0000;
}

.green {
	fill: #00cc00;
	stroke: #00cc00;
}

.purple {
	fill: #990099;
	stroke: #990099;
}

.outline polygon {
	fill: none;
}

.outline path {
	fill: none;
}

.red.striped polygon,
.red.striped path {
	fill: url(#redstripes);
}

.green.striped polygon,
.green.striped path {
	fill: url(#greenstripes);
}

.purple.striped polygon,
.purple.striped path {
	fill: url(#purplestripes);
}

.outline,
.striped {
	stroke-width: 5;
}

#redstripes,
#greenstripes,
#purplestripes {
	stroke-width: 3;
}